@import url('./preset.css');

:root {
    --primary-dark: #222831;
    --secondary-dark: #393E46;
    --third-dark: #616F39;
    --accent-dark: #A7D129;
    --text-dark: #71cc9b;
    --text-secondary-dark: #84b89c;
    --borders-accent-dark: #90dcb3;
}

html {
    height: 100vh;
    font-family: "Roboto", sans-serif;
}





.trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trails-text {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: rgb(66, 61, 63);
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
}

.trails-text > div {
    overflow: hidden;
}
