@import url('./preset.css');
@font-face {
    font-family: 'Raleway';
    src: url('../src/assets/fonts/Raleway/Raleway-VariableFont_wght.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
:root {
    --primary-dark: #222831;
    --secondary-dark: #393E46;
    --third-dark: #616F39;
    --accent-dark: #A7D129;
    --text-accent-dark: #90DCB3;
    --text-secondary-dark: #D7E4D4;
}

/*html {*/
/*    height: 100vh;*/
/*    font-family: "Raleway", sans-serif;*/
/*    letter-spacing: 1px;*/
/*    font-size: 12px;*/
/*}*/
/*h1, h2, h3, h4, h5, h6 {*/
/*    color: var(--text-accent-dark);*/
/*}*/
/*h1 {font-size: 14px}*/
/*h2 {font-size: 12px}*/
/*h3 {font-size: 10px}*/
/*h4 {font-size: 8px}*/
/*p {*/
/*    color: var(--text-secondary-dark);*/
/*}*/





.trails-main {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trails-text {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    color: rgb(66, 61, 63);
    font-size: 5em;
    font-weight: 800;
    text-transform: uppercase;
    will-change: transform, opacity;
    overflow: hidden;
}

.trails-text > div {
    overflow: hidden;
}
